.rect {
  border: 2px solid #a64ceb;
  left: -1000px;
  position: absolute;
  top: -1000px;
}

#img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 600px;
  max-height: 400px;
  margin-top: 125px;
}

#loading {  
  position:fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em; 
  margin-left: -15em; 
  border: 5px solid #ccc;
  /*background-color: #769396;*/
  background-color: #283C63;
}

#loading-image { 
  position: absolute; 
  top: 40%; 
  left: 45%; 
  z-index: 100;
  max-width: 150px; 
  max-height: 150px; 
  margin-left: -50px;
} 

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #eee;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.buttonsDiv {
  text-align: center;
  margin-top: 75px;
}

.title {
  position: absolute;
  width: 100%;
  background: #2e2f33;
  z-index: 2;
  padding: .7em 0;
} 

.title > h1{
  color: white;
  text-align: center;
}

.mainImage {
  max-width: 500px;
  max-height: 350px;
}
