* {
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
}

.rect {
  border: 2px solid #a64ceb;
  left: -1000px;
  position: absolute;
  top: -1000px;
}

#img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 600px;
  max-height: 400px;
  margin-top: 175px;
  border:2px solid #222222;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 75vw;
  height: 75vh;
  border: 5px solid #ccc;
  background-color: #283C63;
}

#loading-image { 
  position: absolute; 
  top: 40%; 
  left: 45%; 
  z-index: 100;
  max-width: 150px; 
  max-height: 150px; 
  margin-left: -50px;
}

#loading > h2 {
  color: darkgrey;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #eee;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.buttonsDiv {
  text-align: center;
  margin-top: 75px;
}

.title {
  position: absolute;
  width: 100%;
  background: #2e2f33;
  z-index: 2;
  padding: .7em 0;
} 

.title > h1 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.mainImage {
  max-width: 500px;
  max-height: 350px;
}

.labelLoading {
  text-align: center;
  margin-top: 50px;
}

.loading {
  opacity: 0.95;
  z-index: 10;
}

input[type=file] {
    color:#08233e;
    font-size:70%;
    cursor:pointer;
}

.reloadButton {
  padding: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 7px;
  border-radius: 28px;
  background-color:lightslategrey;
}

.reloadButton:hover {
  border-radius: 30px;
  background-color:slategray;
}

.message {
  color: red;
  visibility: hidden;
}

/***** Tooltips ******/

.tooltip {
    color: white;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -270%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.75s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*******************************************/